#about{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    background-color: #FFDDBF;
}
  
.about-div{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 40px;
}

#about p{
    color: #594F43;
    font-family: "Work Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    width: 591px;
    height: 449px;
}

#about img{
    width: 464px;
    height: 550px;
    flex-shrink: 0;
    padding-right: 24px;
    transform: translateX(-50px);
}

.about-bordered-button{
    display: flex;
    width: 189px;
    height: 78px;
    padding: 24px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    font-family: "Work Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    border-radius: 16px;
    background: transparent;
    border-color: #4D5566;
    border-width: medium;
}

.about-bordered-button a {
    color: #4D5566 !important;
}

.about-content-container{
    display: flex;
    flex-direction: column;
}
  