#contact{
    display: flex;
    padding: 180px 8px;
    flex-direction: column;
    height: 800px;
}

.contact-div{
    width: 1092px;
    height: 204px;
    flex-shrink: 0;
}

.contact-div p{
    color: #594F43;
    font-family: "Work Sans";
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.contact-icons{
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 20px;
}

.contact-icons svg{
    width: 72px;
    height: 72px;
}