.projectsPage-div{
    padding: 2%;
    margin: 1%;
}

.projectsPage-div h1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projectsPage-text{
    color: #594F43;
    font-family: "Work Sans";
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

