@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Roboto+Condensed:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

html {
    scroll-behavior: smooth;
}

body{
  font-family: "Work Sans", sans-serif !important;
  background-color: #FFEED9 !important;
}

section{
  width: 1266px;
  height: 700px;
  padding-bottom: 5%;
  padding-top: 80px;
}

#body{
  padding: 30px 79px;
}

.section-heading {
  color: #403930 !important;
  font-family: Eczar;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: 0.8px;
}

p {
    font-family: 'Advent Pro', sans-serif;
    font-weight: 500;
}